<!--[if gt IE 6]><!--><script>document.body.className = document.body.className.replace('js-enabled','');</script><!--<![endif]-->
    <div class="indicator cf">
      <p>
        <strong><%= config_item(:phase).to_s.capitalize %>:</strong>
        This is a new service -
        <% if content_for?(:feedback_link) %>
          <%= yield(:feedback_link) %>
        <% else %>
          <a href="<%= "#{config_item(:feedback_url)}" %>">your feedback</a>
        <% end %>
        will help us to improve it
      </p>
    </div>

    <%= yield :after_header %>