<% if content_for?(:proposition_header) %>
        <%= yield(:proposition_header) %>
      <% else %>
        <div class="header-proposition">
          <div class="content">
            <a href="/" id="proposition-name"><%= "#{config_item(:proposition_title)}" %></a>
            <%= yield(:proposition_links) %>
          </div>
        </div>
      <% end %>
