#content {
  margin: auto;
  max-width: 1020px;
  width: auto;
  _width: 1020px;
  min-height: 400px;
}

// wrapper border - indicates phase
#wrapper {
  background-color: $white;
  padding: 0 0 60px 0;
  border-bottom: 10px solid $black;

  body.alpha & {
    border-color: $alpha-colour;
  }
  body.beta & {
    border-color: $beta-colour;
  }
}

.inner {
  width: auto;
  padding: 0 1em;

  @include media(desktop) {
    padding: 0 2em;
  }
}