/* Phase indicator alignment fixes */
.indicator {
  padding: 0.5em 2em !important;

  @include media(mobile){
    padding: 0.5em 1em !important;
  }

  p {
    padding: 0 !important;

    /* Set uppercase font for indicator phase */
    strong {
      text-transform: uppercase;
    }
  }

  /* Set alpha bar to white text */
  body.alpha & {
    p,
    a:visited,
    a:link { 
      color: $white; 
    }
  }
}